/* start mixins */
/* end mixins */
/* start component */
.main-btn {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) !important;
  color: white;
  padding: 8px 30px;
  font-weight: 500;
  font-size: 15px;
}

/* end component */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: "pupblic sans", sans-serif;
  position: relative;
  overflow-x: hidden;
}

/* Small Screens (Mobiles,Phones) */
@media (min-width: 576px) {
  .container {
    width: 556px;
  }
}
/* Small Screens (tablets) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  position: relative;
  z-index: 10;
  background-color: white;
}
@media (max-width: 768px) {
  header {
    padding: 10px 0 !important;
  }
}
@media (max-width: 767px) {
  header .container .links {
    display: none !important;
  }
  header .container .links.overlay {
    position: absolute;
    flex-direction: column;
    display: block !important;
    top: 80px;
    text-align: center;
    gap: 5px;
    padding: 15px !important;
    width: 80%;
    box-shadow: -70px 119px 192px 175px rgba(60, 62, 85, 0.45);
    border-radius: 5px;
    background-color: white;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
  header .container .links.overlay a {
    padding: 1px;
  }
}
header .container .links a {
  display: block;
  padding: 1.5rem 0.9rem;
  position: relative;
  color: hsl(233, 8%, 62%);
}
@media (max-width: 767px) {
  header .container .links a {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
  }
}
header .container .links a:not(.active):hover::before, header .container .links a.active::before {
  content: "";
  position: absolute;
  width: 67%;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(136, 65%, 51%);
}
header .container button {
  transition-duration: 0.2s;
  transition-property: all;
  text-wrap: nowrap;
}
header .container button:hover {
  opacity: 0.8;
  color: white;
}
@media (max-width: 991px) {
  header .container button {
    display: none;
  }
}
header .container > svg {
  cursor: pointer;
  display: none;
}
@media (max-width: 767px) {
  header .container > svg {
    display: block;
  }
}

.landing {
  height: calc(100vh - 75px);
  overflow: hidden;
  background: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position-x: 673px;
  background-position-y: -206px;
  background-color: hwb(0 98% 2%);
}
@media (max-width: 992px) {
  .landing {
    background-image: none;
  }
}
.landing > img {
  position: absolute;
  right: -144px;
  top: -4px;
  width: 800px;
  height: 968px;
}
@media (max-width: 1199px) {
  .landing > img {
    display: none;
  }
}
.landing .container {
  height: 100%;
}
.landing .container .introduction {
  max-width: 450px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .landing .container .introduction {
    top: 60%;
    margin: auto;
  }
}
.landing .container .introduction h1 {
  color: hsl(233, 26%, 24%);
  font-size: 45px;
  max-width: 400px;
  font-weight: 100;
}
.landing .container .introduction p {
  color: hsl(233, 8%, 62%);
}
.landing .container .introduction button {
  transition-duration: 0.2s;
  transition-property: all;
  text-wrap: nowrap;
}
.landing .container .introduction button:hover {
  opacity: 0.8;
  color: white;
}

.services {
  background-color: hsl(220, 16%, 96%);
  padding: 100px 0;
  position: relative;
  z-index: -1;
}
.services .container .info {
  max-width: 675px;
}
.services .container .info h2 {
  color: hsl(233, 26%, 24%);
  font-weight: 100;
}
.services .container .info p {
  color: hsl(233, 8%, 62%);
}
.services .container .row {
  margin-top: 60px;
}
.services .container .row .box h4 {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 30px;
}
.services .container .row .box p {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
}

.articles {
  padding: 100px 0;
  background-color: hwb(0 98% 2%);
}
@media (max-width: 678px) {
  .articles .container {
    padding: 0 30px;
  }
}
.articles .container h2 {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  margin-bottom: 50px;
}
.articles .container .box {
  border-radius: 5px;
  overflow: hidden;
}
@media (min-width: 767px) {
  .articles .container .box > img {
    height: 201.5px;
  }
}
@media (max-width: 992px) {
  .articles .container .box > img {
    height: 100%;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .articles .container .box > img {
    height: 252.16px !important;
  }
}
.articles .container .box .articel .author {
  font-size: 13px;
  color: hsl(233, 8%, 62%);
}
.articles .container .box .articel h4 {
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
}
.articles .container .box .articel h4:hover {
  color: hsl(136, 65%, 51%);
}
.articles .container .box .articel p {
  font-size: 14px;
  color: hsl(233, 8%, 62%);
  line-height: 1.5;
}

footer {
  background-color: hsl(233, 26%, 24%);
  padding: 50px 0;
}
footer .social {
  margin-top: 50px;
}
@media (max-width: 767px) {
  footer .social {
    justify-content: center;
  }
}
footer .social > svg {
  cursor: pointer;
}
footer .contact,
footer .support {
  color: hsl(233, 8%, 62%);
  cursor: pointer;
}
footer .contact span,
footer .support span {
  display: block;
}
footer .contact span:hover,
footer .support span:hover {
  color: hsl(136, 65%, 51%);
}
footer .rights button {
  transition-duration: 0.2s;
  transition-property: all;
  text-wrap: nowrap;
}
footer .rights button:hover {
  opacity: 0.8;
  color: white;
}
footer .rights p {
  margin-top: 30px;
  color: hsl(233, 8%, 62%);
}/*# sourceMappingURL=main.css.map */